<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arijit Singh</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/arijit.css">
</head>
<body>
    <header>
        <div class="menu_side">
            <div class="logo"></div>
            <div class="playlist">
                <h4 class="active"><span></span><i class="bi bi-music-note-beamed"></i>Playlist</h4>
                <h4><span></span><i class="bi bi-music-note-beamed"></i>Last Listening</h4>
                <h4><span></span><i class="bi bi-music-note-beamed"></i>Recommended</h4>
            </div>
            <div class="menu_song">
                <li class="songItem">
                    <span>01</span>
                    <img src="img/1.jpg" alt="kk">
                    <h5>
                        Dil Ibbadat
                        <div class="subtitle">KK</div>
                    </h5>
                        <i class="bi playlistplay bi-play-circle-fill" id="1"></i>
                    
                </li>
                <li class="songItem">
                    <span>02</span>
                    <img src="img/2.jpg" alt="arijit">
                    <h5>
                        Satranga
                        <div class="subtitle">Arijit Singh</div>
                    </h5>
                        <i class="bi playlistplay bi-play-circle-fill" id="2"></i>
                    
                </li>
                <li class="songItem">
                    <span>03</span>
                    <img src="img/3.jpg" alt="vishal">
                    <h5>
                        Diwali
                        <div class="subtitle">Vishal Mishra</div>
                    </h5>
                        <i class="bi playlistplay bi-play-circle-fill" id="3"></i>
                    
                </li>
                <li class="songItem">
                    <span>04</span>
                    <img src="img/4.jpg" alt="mitraz">
                    <h5>
                        Saajna
                        <div class="subtitle">Mitraz</div>
                    </h5>
                        <i class="bi playlistplay bi-play-circle-fill" id="4"></i>
                    
                </li>
                <li class="songItem">
                    <span>05</span>
                    <img src="img/5.jpg" alt="mitraz">
                    <h5>
                        Gulaab
                        <div class="subtitle">Mitraz</div>
                    </h5>
                        <i class="bi playlistplay bi-play-circle-fill" id="5"></i>
                    
                </li>
                <li class="songItem">
                    <span>06</span>
                    <img src="img/6.jpg" alt="arijit">
                    <h5>
                        Kabhi Ta Nazar Milao 
                        <div class="subtitle">Armaan Malik</div>
                        
                    </h5>
                    <i class="bi playlistplay bi-play-circle-fill" id="6"></i>
                </li>
            </div>
        </div>
        <div class="song_side">
            <nav>
                <ul>
                    <li>DISCOVER </li>
                    <li>MY LIBRARY</li>
                    <li>RADIO</li>
                    <li><a href="/contact_us" id="cont"> CONTACT US </a><span></span></li>
                </ul>
                
            </nav>
            <div class="content">
                <h1>Arijit Singh</h1>
                
                <div class="buttons">
                    <button>PLAY</button>
                    <button>PLAYLIST</button>
                </div>
            </div>
            <div class="popular">
                <div class="h4">
                    <h4>Trending Now</h4>
                    <div class="btn_s">
                        <i id="left_popsong" class="bi bi bi-arrow-left-circle" ></i>
                        <i id="rigth_popsong" class="bi bi bi-arrow-right-circle"></i>
                    </div>
                </div>
                <div class="pop_song">
                    <li class="songItem">
                        <div class="img_play">
                            <img src="img/7.jpg" alt="kk">
                            <i class="bi playlistplay bi-play-circle-fill" id="7"></i>
                        </div>
                        <h5>Dil Ibbadat
                            <br>
                            <div class="subtitle">KK</div>
                        </h5>
                    </li>
                    <li class="songItem">
                        <div class="img_play">
                            <img src="img/1.jpg" alt="kk">
                            <i class="bi playlistplay bi-play-circle-fill" id="8"></i>
                        </div>
                        <h5>Dil Ibbadat
                            <br>
                            <div class="subtitle">KK</div>
                        </h5>
                    </li>
                    <li class="songItem">
                        <div class="img_play">
                            <img src="img/1.jpg" alt="kk">
                            <i class="bi playlistplay bi-play-circle-fill" id="9"></i>
                        </div>
                        <h5>Dil Ibbadat
                            <br>
                            <div class="subtitle">KK</div>
                        </h5>
                    </li>
                    <li class="songItem">
                        <div class="img_play">
                            <img src="img/1.jpg" alt="kk">
                            <i class="bi playlistplay bi-play-circle-fill" id="10"></i>
                        </div>
                        <h5>Dil Ibbadat
                            <br>
                            <div class="subtitle">KK</div>
                        </h5>
                    </li>
                    <li class="songItem">
                        <div class="img_play">
                            <img src="img/1.jpg" alt="kk">
                            <i class="bi playlistplay bi-play-circle-fill" id="11"></i>
                        </div>
                        <h5>Dil Ibbadat
                            <br>
                            <div class="subtitle">KK</div>
                        </h5>
                    </li>
                    <li class="songItem">
                        <div class="img_play">
                            <img src="img/1.jpg" alt="kk">
                            <i class="bi playlistplay bi-play-circle-fill" id="12"></i>
                        </div>
                        <h5>Dil Ibbadat
                            <br>
                            <div class="subtitle">KK</div>
                        </h5>
                    </li>
                    <li class="songItem">
                        <div class="img_play">
                            <img src="img/1.jpg" alt="kk">
                            <i class="bi playlistplay bi-play-circle-fill" id="13"></i>
                        </div>
                        <h5>Dil Ibbadat
                            <br>
                            <div class="subtitle">KK</div>
                        </h5>
                    </li>
                    <li class="songItem">
                        <div class="img_play">
                            <img src="img/1.jpg" alt="kk">
                            <i class="bi playlistplay bi-play-circle-fill" id="14"></i>
                        </div>
                        <h5>Dil Ibbadat
                            <br>
                            <div class="subtitle">KK</div>
                        </h5>
                    </li>
                    <li class="songItem">
                        <div class="img_play">
                            <img src="img/1.jpg" alt="kk">
                            <i class="bi playlistplay bi-play-circle-fill" id="15"></i>
                        </div>
                        <h5>Dil Ibbadat
                            <br>
                            <div class="subtitle">KK</div>
                        </h5>
                    </li>
                    <li class="songItem">
                        <div class="img_play">
                            <img src="img/1.jpg" alt="kk">
                            <i class="bi playlistplay bi-play-circle-fill" id="16"></i>
                        </div>
                        <h5>Dil Ibbadat
                            <br>
                            <div class="subtitle">KK</div>
                        </h5>
                    </li>
                    <li class="songItem">
                        <div class="img_play">
                            <img src="img/1.jpg" alt="kk">
                            <i class="bi playlistplay bi-play-circle-fill" id="17"></i>
                        </div>
                        <h5>Dil Ibbadat
                            <br>
                            <div class="subtitle">KK</div>
                        </h5>
                    </li>
                    <li class="songItem">
                        <div class="img_play">
                            <img src="img/1.jpg" alt="kk">
                            <i class="bi playlistplay bi-play-circle-fill" id="18"></i>
                        </div>
                        <h5>Dil Ibbadat
                            <br>
                            <div class="subtitle">KK</div>
                        </h5>
                    </li>
                    <li class="songItem">
                        <div class="img_play">
                            <img src="img/1.jpg" alt="kk">
                            <i class="bi playlistplay bi-play-circle-fill" id="19"></i>
                        </div>
                        <h5>Dil Ibbadat
                            <br>
                            <div class="subtitle">KK</div>
                        </h5>
                    </li>
                    <li class="songItem">
                        <div class="img_play">
                            <img src="img/1.jpg" alt="kk">
                            <i class="bi playlistplay bi-play-circle-fill" id="20"></i>
                        </div>
                        <h5>Dil Ibbadat
                            <br>
                            <div class="subtitle">KK</div>
                        </h5>
                    </li>
                    <li class="songItem">
                        <div class="img_play">
                            <img src="img/1.jpg" alt="kk">
                            <i class="bi playlistplay bi-play-circle-fill" id="21"></i>
                        </div>
                        <h5>Dil Ibbadat
                            <br>
                            <div class="subtitle">KK</div>
                        </h5>
                    </li>
                    <li class="songItem">
                        <div class="img_play">
                            <img src="img/1.jpg" alt="kk">
                            <i class="bi playlistplay bi-play-circle-fill" id="22"></i>
                        </div>
                        <h5>Dil Ibbadat
                            <br>
                            <div class="subtitle">KK</div>
                        </h5>
                    </li>
                    <li class="songItem">
                        <div class="img_play">
                            <img src="img/1.jpg" alt="kk">
                            <i class="bi playlistplay bi-play-circle-fill" id="23"></i>
                        </div>
                        <h5>Dil Ibbadat
                            <br>
                            <div class="subtitle">KK</div>
                        </h5>
                    </li>
                    <li class="songItem">
                        <div class="img_play">
                            <img src="img/1.jpg" alt="kk">
                            <i class="bi playlistplay bi-play-circle-fill" id="24"></i>
                        </div>
                        <h5>Dil Ibbadat
                            <br>
                            <div class="subtitle">KK</div>
                        </h5>
                    </li>
                    <li class="songItem">
                        <div class="img_play">
                            <img src="img/1.jpg" alt="kk">
                            <i class="bi playlistplay bi-play-circle-fill" id="25"></i>
                        </div>
                        <h5>Dil Ibbadat
                            <br>
                            <div class="subtitle">KK</div>
                        </h5>
                    </li>
                    <li class="songItem">
                        <div class="img_play">
                            <img src="img/1.jpg" alt="kk">
                            <i class="bi playlistplay bi-play-circle-fill" id="26"></i>
                        </div>
                        <h5>Dil Ibbadat
                            <br>
                            <div class="subtitle">KK</div>
                        </h5>
                    </li>
                    
                </div>
            </div>
               
        </div>


        <div class="master_play">
            <div class="wave" id="wave">
                <div class="wave1"></div>
                <div class="wave1"></div>
                <div class="wave1"></div>
            </div>
            <img src="img/arijit/1.jpg" alt="kk" id="poster_master_play">
            <h5 id="title">Naina Ashq Na Ho <br>
                <div class="subtitle">Arijit Singh</div>
            </h5>
            <div class="icon">
                <i class="bi shuffle bi-music-note">next</i>
                <i class="bi bi-skip-start-fill" id="back"></i>
                <i class="bi bi-play-fill" id="masterPlay"></i>
                <i class="bi bi-skip-end-fill" id="next"></i>
                

            </div>
            <span id="currentStart">0:00</span>
            <div class="bar">
              <input type="range" id="seek" min="0"  max="100">
                <div class="bar2" id="bar2"></div>
                <div class="dot"></div>
            </div>
            <span id="currentEnd">0:30</span>

            <div class="vol">
                <i class="bi bi-volume-up-fill" id="vol_icon"></i>
                <input type="range"  min="0"  max="100" id="vol">
                <div class="vol_bar"></div>
                <div class="dot" id="vol_dot"></div>
            
    </header>
        
        <script src="js/arijit.js"></script>
</body>
</html>