<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error</title>
</head>
<body>
    <i><h1 style="height: 100%;width: 100%;display: flex;align-items: center;justify-content: center;color: #fff;background:skyblue;">please login/Sign up for opening the page......</h1></i>
</body>
</html>